name: Build and Push vcpkg-base

on:
  push:
    branches: [ main ]
  schedule:
    - cron: '0 0 * * 0'  # Haftalık otomatik güncelleme

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build Docker image
        run: |
          docker build -t sentiric-vcpkg-base:latest .

      - name: Push to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Push image
        run: |
          docker tag sentiric-vcpkg-base:latest ghcr.io/sentiric-org/sentiric-vcpkg-base:latest
          docker tag sentiric-vcpkg-base:latest ghcr.io/sentiric-org/sentiric-vcpkg-base:${{ github.sha }}
          docker push ghcr.io/sentiric-org/sentiric-vcpkg-base:latest
          docker push ghcr.io/sentiric-org/sentiric-vcpkg-base:${{ github.sha }}
